*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    position: relative;
    width: 480px;
    background-color: #fff;
    color: #000;
    border: 0px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box .title{
    font-size: 20px;
    color: #1b2845;
}

.box .line-break{
    background: #1b2845;
    width: 60%;
    height: 3px;
}

.box .quote{
    font-size: 18px;
    padding: 20px 0px 8px;
    display: flex;
}

.quote #quote-text{
    padding: 0 5px;
}

.box #author{
    font-size: 16px;
    padding-bottom: 10px;
    font-style: italic;
    opacity: 0.7;
}

.btns .btn{
    display: inline-block;
    width: 140px;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border: 2px solid #1b2845;
    border-radius: 20px;
    padding: 8px 6px;
    margin: 10px 6px;
    cursor: pointer;
    transition: all;
}

.btns .btn-copy{
   background: #1b2845; 
}

.btns .btn-generate{
   /* background: #02abec;  */
   color: #000;
}

.btns .btn-generate:hover{
   background: #1b2845; 
   color: #fff;
}